<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2ebFhdwOZ34BliX7poBL8V1XlXZ6Wavk</string>
	<key>GCM_SENDER_ID</key>
	<string>853733478493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.breakingNews.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>news-9fbdb</string>
	<key>STORAGE_BUCKET</key>
	<string>news-9fbdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853733478493:ios:52fe20db328e3aa9b6bdb4</string>
	<key>DATABASE_URL</key>
	<string>https://news-9fbdb-default-rtdb.firebaseio.com</string>
</dict>
</plist>